---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Humalware</div>
  </div>

  <div class="mb-10 text-justify">
    Recopilamos y difundimos de herramientas de hacking con especialización en OSINT. Nuestro objetivo de poder compartir información que facilite el trabajo a investigadores/as y que además contribuya a la concientización sobre la importancia de la ciberseguridad y privacidad.
  </div>

<div class="max-w-screen-xl mx-auto px-6 md:px-8 lg:px-12 pt-6 lg:pt-12 pb-6 lg:pb-12">
  <div class="bg-accent py-8 lg:py-12 px-6 relative text-center">
      <p class="text-2xl sm:text-3xl lg:text-4xl font-bold text-gray-800 mb-4">
        Podés contribuir al proyecto enviando sugerencias y herramientas
      </p>
      <p class="prose lg:prose-lg xl:prose-2xl mx-auto text-gray-800">Sumate a la comunidad de whatsapp</p>
      <div class="h-12 w-12 bg-accent left-1/2 -ml-6 -bottom-6 absolute transform rotate-45">&nbsp;</div>
  </div>
  <div class="pt-12 lg:pt-16 text-center">
      <a href="#"
          class="bg-primary hover:bg-secondary transition ease-in-out duration-150 text-base text-white px-4 lg:px-8 py-4 inline-block font-bold rounded-md shadow-xl">
          Ir a la comunidad</a>
      <!-- <p class="pt-4">No credit card required, cancel anytime.</p> -->
  </div>
</div>


</BaseLayout>
